#main {
    position: relative;
    z-index: 3;
    overflow: hidden;
    
}
/*DIV que engloba os cards*/
.services {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    background-color:#dcdcdc;
}
/*Estilização de TODAS DIVS dos cards*/
.services div {
    text-align: center;
    background: #FFF;
    width: 95%;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto; 
    -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
}
/*Estilização dos Icones*/
.service-icon {
    font-size: 6rem;
    padding: 30px 0px 30px 90px;
    margin: 0px 0px 30px 0px;
    align-content: left;
    text-align: left;
    color: blue;
    filter: grayscale(0%);
    border-bottom: 2px solid blue;
    
}

.service-title {
    font-size: 2.0rem;
    padding: 0;
    margin:0;
}

.services p:last-of-type{
    padding: 0px 90px 20px 90px; 
    text-align: left;
  }


  @media (max-width: 960px) {
      .services {
        display:list-item;
        
      }

      
  }