
/*Estilização da section*/
.intro {
    width: 70%;
    padding-top: 90px;
    padding-right: 0px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;

}

/*Estilização do Título*/
#title {
    font-size: 50px;
    margin-right: 3px;
    color: #000;
    text-transform: uppercase;
    line-height: 6rem;
    padding-right: 10px;
    border-right: 3px solid #111;
}

/*Estilização da div sem o ID*/
div {
    position: relative;
}

/*Estilização do Paragrafo*/
#text {
    padding-left: 10px;
    color: #000;
}

