section {
    width: 70%;
    padding: 90px 0;
    margin: 50px auto 18px auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    
  }
  
div section h2 {
    font-size: 3.0rem;
    color: #000;
    text-transform: uppercase;
   line-height: 6rem; 
   padding-right: 10px;
   border-right: 3px solid #000;
}