.header {
   height: 700px;
   background-position: center;
   position: relative;
   background-image: url(../../images/database-connections-freebase-ss-1920_r6vaok.jpg);
   
}

.head {
    position: relative;
    z-index: 2;
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding-top: 12%;
    align-items: center;
    color: #FFF;
    
}

.head h1 {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0px;
    margin: 0;
    letter-spacing: 2px;
    border-right: 2px solid #111; 

}

.message {
    padding-left: 30px;
    margin-left: 20px;
    font-size: 1.2rem;
}

.contact {
    background-color: #3acbf7;
    display: block;
    color: #FFF;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.75);
}

.contact:hover {
    background-color: #FFF;
    transition: all 0.2s ease;
    color: #6568f4;
}

@media (max-width: 768px)  {
    .head h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        border-bottom: 2px solid #FFF;
        border-right: none;
        margin-top: 2.6rem;
        text-align: center;

    }


    .title-header {
        color: #FFF;
        padding-bottom: 160px;
    }
    .head {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
        position: relative;
        color: #FFF;
        font-weight: bold;
        padding-top: 110px;
    }

    .message {
        
        font-size: 2.2rem;
    }

    .header {
        width: 100%;
    }
}