footer {
    background-color: #444;
    color: #FFF;
    padding: 20px;
    border-top: 3px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

footer ul {
    list-style: none;
    display: grid;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

footer ul li a {
    color: #eee;

}

.icon{
    font-size: 20px;
}

.icon:hover {
    transition: all 0.2s ease;
    transform: scale(2.0);
}

@media (max-width: 768px) {
    footer ul {
        position: relative;
        display:inline;
        justify-items: center;
        position: relative;
        display: grid;
        padding-top: 20px;
        margin-left: 50px;
        font-size: 20px;
    }

    .icon {
        display: grid;
        
        padding-right: 20px;
    }
}