footer {
    background-color: #C0C0C0;
    color: #000;
    font-weight: bold;
    padding: 20px;
    border: 0.1rem solid #F5FFFA;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
    display: grid;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

footer ul li a {
    color: #111;

}

.icon{
    font-size: 20px;
}

.icon:hover {
    transition: all 0.2s ease;
    transform: scale(2.0);
}
@media screen and (min-width: 100px) and (max-width: 768px)  {
    footer ul {
        position: relative;
        display:inline;
        justify-items: center;
        position: relative;
        display: grid;
        padding-top: 20px;
        margin-right: 50px;
        font-size: 20px;
    }

    .icon {
        display: grid;
        
        padding-right: 20px;
    }
}