.footer {
    background-color: #444;
    padding: 20px;
    border-top: none;
    align-items: center;
    text-align: center;
}

.title-footer {
    font-size: 1.4rem;
    color: #FFF;
    display: block;
    margin: 0 auto;
}

.footer-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 4fr);
    transform: translate(37%, 20%);

}

.footericon{
    color: #000;
    font-size: 1.8rem;

}

.footericon:hover {
    transition: all 0.2s ease;
    color: #FFF;
    transform: scale(2.1)
}

@media screen and (max-width: 767px) {
    footer ul {
       transform: translate(60%, 60%);
    }

    .footer-text {
        text-align: center;
    }
}