body {
  margin: 0 auto;
  padding: 0;
  font-family: Raleway;
  background: #dcdcdc;
  color: #111;
  width: 100%;
  max-width: 1500px;
  z-index: 1;
  overflow-x: hidden;
}
body * {
  transition: all 0.3s ease-in-out;
  


}

.container { 
  background-color: #FFF;
  width: 100%;
  max-width: 1500px;
  
  
  


  

} 


@media screen and (min-width: 100px) and (max-width: 768px)  {
  .container{
    width: 100%;
    max-width: 700px;
    overflow-x: hidden;

  }
  body {
    width: 100%;
    overflow-x: hidden;
    }
}
