body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background: #eee;
  color: #111;

}
body * {
  transition: all 0.300s ease-in-out;
}

.container { 
  background-color: #fff;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
 
  background: url('./images/background.jpg');


  

} 