.logo {
  font-weight: 500;
  color: #191970;
  font-style: italic;
  font-size: 35px;
  font-family: sans-serif;
  transform: translate( 3%, -45%);
}

.navbar {
    position: fixed;
    z-index: 99;
    background-color: #FFF;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;  
    padding: 12px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #FFF;
    border-bottom: 1px solid #dacdad;
    height: 60px;
  }
  
  
  .list {
    width: 100%;
    display: grid;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 10px;
    transform: translate( 3%, -20%);
  } 
  
 
  .nav-links {
    color:#000;
    text-decoration: none; 
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-indent: 30px;
  }

  .nav-links:hover{
    background-color: #191970;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .menu-icon {
    display: none;
  }
  

  @media (max-width: 768px)  {
    .navbar {
      position: fixed;
      z-index: 99;
      width: 100%;
     
    }
  }